.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15;
}
.movie_head i{
    float:right;
}
.Achievments{
    float:right
}
.achievment_text span{
    color: orange;
}
.WhatsNew{
    margin-bottom: 20px;
}
#contact iframe{
    width: 100%;
}